.content {
    height: 100%;
    width: 100%;
    max-width: initial;
    background-color: #282828;
    color: #ebdbb2;
    padding-left: 10%;
}

.headers {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list {
    margin: 0;
    padding: 5px 0px;
    height: auto;
    width: max-content;
    /* background-color: #202020; */
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;

    scrollbar-width: none;
    border-bottom: 1px solid #343434;
    justify-content: space-evenly;
}

.list-items {
    height: auto;
    min-width: fit-content;
    width: 100%;
    /* padding: 10px; */
    padding-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    position: relative;
}

.list-items:focus:after {
    content: "^";
    position: absolute;

    left: 49%;
}

.playlist-name {
    height: auto;
    width: auto;
    cursor: pointer;
}

.playlist-data {
    overflow: scroll00;
    height: 100%;
    width: 100%;
    /* background-color: #202020; */
}

.song-wrapper {
    margin-left: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.song-wrapper p {
    cursor: pointer;
}

.add-to-pl {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.add-to-pl select {
    height: fit-content;
    width: 50%;
    margin: 10px;
}

.add-to-pl p {
    margin-left: 30px;
    width: fit-content;
    cursor: pointer;
}

.new-playlist-dropdown {
    background-color: #202020f0;
    border: 1px solid #689d6a;
    position: absolute;
    right: 10%;
    top: 10%;
    height: 10%;
    width: fit-content;
    padding: 20px;

    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    border-radius: 20px;

    z-index: 10;
}


.rename-popup {
    background-color: #202020f0;
    border: 1px solid #689d6a;
    position: absolute;
    /* right: 20%; */
    top: 100%;
    left: -20%;
    height: 10%;
    width: fit-content;
    padding: 20px;

    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    border-radius: 20px;
}

.new-playlist-dropdown input,
.rename-popup input {
    height: fit-content;
}

.create-playlist {
    cursor: pointer;
}

.new-playlist-dropdown button,
.rename-popup button {
    margin: 10px;
    text-decoration: none;
    background-color: #ebdbb2;
    border: none;
    border-radius: 20px;
    height: 2vw;
    transition: 500ms;
    cursor: pointer;
}

.new-playlist-dropdown button:hover,
.rename-popup button:hover {
    scale: 1.2;
}

.new-playlist-dropdown input,
.playlist-data select,
.rename-popup input {
    margin-left: 30px;
    height: fit-content;
    width: 40%;
    background-color: #202020;
    border: 1px solid #343434;
    border-radius: 20px;
    color: #ebdbb2;
    padding: 10px;
}

.remove {
    color: #689d6a;
}

.new-playlist-dropdown p {
    width: min-content;
}

.pl-headers span {
    position: relative;
}

.pl-headers {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pl-headers,
.pl-headers span {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.delete {
    color: #cc241d;
    align-self: flex-end;
    cursor: pointer;
}

.playlist-pill {
    height: 100%;
    background-color: #343434;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}