.content {
    height: 100%;
    width: 100%;
    max-width: initial;
    background-color: #282828;
    color: #ebdbb2;
    padding-left: 10%;
}

.content-pill {
    height: auto;
    width: 80%;
    max-width: initial;
    background-color: #343434;
    overflow: scroll;
    border-radius: 20px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    /* box-shadow: -5px 3px black; */
    /* box-shadow:
        rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px; */

    padding: 10px;
    margin-bottom: 40px;
    padding-top: 30px;
}

.content-header {
    font-size: 24px;
    margin: 30px;
    padding-top: 10px;
    margin-top: 10px;
    /* margin-bottom: 83px; */
    margin-right: 0px;
    /* padding-bottom: 20px; */
    /* width: 95%; */
    /* border-bottom: 1px solid; */
    /* border-color: #ebdbb2; */
    /* border-color: rgba(235, 219, 178, 0.3); */
}

.content-pill ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 20px;
}

.playlist-item {
    border: 1px solid #689d6a;
    transition: 100ms;
    padding: 5px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: fit-content;
    border-radius: 20px;
    background-color: #282828;
    align-items: center;
}

.playlist-item:hover {
    transform: scale(1.05);
}

.playlist-image {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
}

.playlist-name {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.songs {
    overflow: scroll;
    width: 200%;
    margin-left: 20px;
    justify-content: space-between;
}

.song-item {
    height: fit-content;
    width: fit-content;
    overflow: scroll;
    /* margin: 10px; */
    margin-top: 30px;
}

.song-title,
.song-artist {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.song-art {
    height: 50%;
    width: 50%;
    /* border: 1px solid #679d6a; */
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}