.bar-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #689d6b;
    color: #282828
        /* box-shadow: -lg z-50 */
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.song-name {
    padding-left: 5%;
    width: 33%;
}

.player {
    width: 67%;
    padding-right: 5%;
}

.rhap_container {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    background: #689d6a;
    border: none;
    box-shadow: none;
    font-size: 20px;
}


.rhap_main-controls-button {
    /* align-items: var(0); */
    padding-top: 10px;
    margin: 0;
    width: auto !important;
    height: auto !important;
}

.rhap_main-controls-button svg {
    color: #282828;
    width: 100%;
    height: 100%;
}

.rhap_additional-controls svg {
    color: #282828;
}

.rhap_progress-bar,
.rhap_download-progress {
    background-color: #282828;
}

.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: #282828 !important;
}

.rhap_button-clear.rhap_volume-button {
    color: #282828 !important;
}

.rhap_volume-bar,
.rhap_volume-indicator {
    background-color: #282828;
}