body {
  margin: 0;
  font-family: 'JetBrains Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}